.container {
    background-color: hsl(223, 31%, 20%); 
     display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    justify-content: space-between;
    align-content: space-between;
    grid-template-areas:
      "siete ocho nueve Del"
      "cuatro cinco seis mas"
      "uno dos tres menos"
      "punto zero slash multiplicar"
      "Reset Reset Equal Equal";
      width: 50%;
    padding-top:30px;
    padding-bottom:40px;
    margin-top:2%;
    margin-bottom: 1px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    position: sticky;
  

  }


  .botonNumero {
    background-color: hsl(30, 25%, 89%);
    border-radius: 10px;
    width: 80%;
    padding: 7px;
    margin-left: 10px;
    margin-right: 5px;
    font-size: 25px;
    
  }

  .botonEqual {
    background-color:hsl(6, 63%, 50%);
    border-radius: 10px;
  }



  .botonDelete {
    background-color: hsl(221, 14%, 31%);
    border-radius: 3px;
    width: 80%;
    padding: 7px;
    margin-left: 10px;
    margin-right: 5px;
    color:white;
    border-radius: 10px;

  }

  .botonReset {
    background-color:  hsl(221, 14%, 31%);
    border-radius: 3px;
    width: 80%;
    padding: 7px;
    margin-left: 20px;
    margin-right: 5px;
    font-size: 25px;
    color: white;
    border-radius: 10px;

  }
  
  .btn:active {
    color: black;
    box-shadow: 0 0.2rem hsl(28, 16%, 65%);
    transform: translateY(0.2rem);

   }
   
   .btn:hover:not(:disabled) {
    background: hsl(28, 16%, 65%) ;
    color: white;
    text-shadow: 0 0.1rem #02735E;
   }
   
   .btn:disabled {
    cursor: auto;
    color: grey;
   }
  
  .Reset { grid-area: Reset; }
  
  .Equal { grid-area: Equal; }
  
  .siete { grid-area: siete; }
  
  .ocho { grid-area: ocho; }
  
  .nueve { grid-area: nueve; }
  
  .Del { grid-area: Del; }
  
  .cuatro { grid-area: cuatro; }
  
  .cinco { grid-area: cinco; }
  
  .seis { grid-area: seis; }
  
  .mas { grid-area: mas; }
  
  .uno { grid-area: uno; }
  
  .dos { grid-area: dos; }
  
  .tres { grid-area: tres; }
  
  .menos { grid-area: menos; }
  
  .punto { grid-area: punto; }
  
  .zero { grid-area: zero; }
  
  .slash { grid-area: slash; }
  
  .multiplicar { grid-area: multiplicar; }
  

  @media only screen and (max-width: 600px) {
    .container {
      background-color: hsl(223, 31%, 20%); 
       display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-auto-columns: 1fr;
      grid-auto-rows: 1fr;
      gap: 15px 15px;
      grid-auto-flow: row;
      justify-content: space-between;
      align-content: space-between;
      grid-template-areas:
        "siete ocho nueve Del"
        "cuatro cinco seis mas"
        "uno dos tres menos"
        "punto zero slash multiplicar"
        "Reset Reset Equal Equal";
        width: 90%;
      padding-top:20px;
      padding-bottom:20px;
      margin-top:1%;
      margin-bottom:1px;
      border-radius: 4px;
      padding-left: 10px;
      padding-right: 10px;
      position: static;
    
  
    }
  
  
    .botonNumero {
      background-color: hsl(30, 25%, 89%);
      border-radius: 3px;
      width: 80%;
      padding: 7px;
      margin-left: 10px;
      margin-right: 5px;
      font-size: 25px;
      border-radius: 6px;
      
    }
  
    .botonEqual {
      background-color:hsl(6, 63%, 50%);
      border-radius: 6px;
    }
  
  
  
    .botonDelete {
      background-color: hsl(221, 14%, 31%);
      border-radius: 3px;
      width: 80%;
      padding: 7px;
      margin-left: 10px;
      margin-right: 5px;
      color:white;
      border-radius: 6px;
  
    }
  
    .botonReset {
      background-color:  hsl(221, 14%, 31%);
      border-radius: 3px;
      width: 80%;
      padding: 7px;
      margin-left: 20px;
      margin-right: 5px;
      font-size: 25px;
      color: white;
      border-radius: 6px;
    }
    
    .btn:active {
      color: black;
      box-shadow: 0 0.2rem hsl(28, 16%, 65%);
      transform: translateY(0.2rem);
  
     }
     
     .btn:hover:not(:disabled) {
      background: hsl(28, 16%, 65%) ;
      color: white;
      text-shadow: 0 0.1rem #02735E;
     }
     
     .btn:disabled {
      cursor: auto;
      color: grey;
     }
    
    .Reset { grid-area: Reset; }
    
    .Equal { grid-area: Equal; }
    
    .siete { grid-area: siete; }
    
    .ocho { grid-area: ocho; }
    
    .nueve { grid-area: nueve; }
    
    .Del { grid-area: Del; }
    
    .cuatro { grid-area: cuatro; }
    
    .cinco { grid-area: cinco; }
    
    .seis { grid-area: seis; }
    
    .mas { grid-area: mas; }
    
    .uno { grid-area: uno; }
    
    .dos { grid-area: dos; }
    
    .tres { grid-area: tres; }
    
    .menos { grid-area: menos; }
    
    .punto { grid-area: punto; }
    
    .zero { grid-area: zero; }
    
    .slash { grid-area: slash; }
    
    .multiplicar { grid-area: multiplicar; }
    



  }